@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* .how {
  float: left;
} */
.services {
  clip-path: polygon(60% 3%, 85% 3%, 100% 3%, 100% 100%, 0 100%, 0 0);
  background-color: #132c42;
  color: white;
  padding-top: 2rem;
}

/* .column1{
  margin-bottom: auto;
} */
* {
  transition: all 0.3s ease-out;
}

.navbar-nav .nav-link:hover {
  background-color: #0d6efd;
  cursor: pointer;
}

#row {
  margin-top: 10rem;
}

.services .card {
  background: #1e3c56;
  color: white;
}

.services .card:hover {
  background: #e68405;
}

.services .card a {
  text-decoration: none;
  color: white;
}

.why a {
  text-decoration: none;
}

.pricing .row {
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
}
 .why {
  width: 80%;
  box-shadow: inset;
  
}
.why :hover{
  transform:scale(1.01);
  cursor: pointer;

}
/* .connect{
  clip-path: polygon(0 7%, 8% 8%, 15% 0%, 88% 0, 93% 7%, 100% 7%, 100% 89%, 93% 93%, 92% 100%, 12% 100%, 8% 93%, 0 88%);
  background-color: blue;
} */
.col li a {
  text-decoration: none;
}

.testing-plan {
  background-color: #1a7ecb;
}

.testing-plan h1 {
  color: white;
}

.info-test-plan {
  text-align: center;
}

footer row {
  margin-right: 3rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul {
  list-style: none;
}

footer div.contact {
  background: #132c42;
  /* border: 1px solid white; */
  color: white;
  border-radius: 1rem;
  text-align: center;
  margin: 0 auto;
}

footer .contact button {
  background: #132c42;
  /* border: 1px solid white; */
  color: white;
  padding: 0.5rem;
}

.footer-links {
  color: white;
  text-align: center;
}

.icons ul li {
  display: inline-block;
}

.icons ul li i {
  font-size: 1.5rem;
}
*/ .what {
  padding: 70px;
  margin-left: 0%;
  text-decoration: none;
  width: 100%;
}
.top {
  height: 390px;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  background-color: #d0e2f2;
}
.size{
  cursor: pointer;
   border-radius: 10px;
 flex-wrap: wrap;
}
.size :hover{
  cursor: pointer;
  /* background-color: #0d6efd; */
  transform: scale(1.01);
   /* border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
}
.when {
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  pointer-events: all;
  border-radius: 10px;
   
   box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);}
   .when div:hover {
  filter: grayscale(0);
   transform: scale(1.01);

}
 .when div:hover img {
  transform: scale(1.2);
}
.when:hover div:not(:hover) {
  filter: grayscale(1) blur(1px);
}
@media screen and (max-width: 1080px) {
  .card {
    flex-direction: column;
  }
} 
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #2576da;
  border-radius: 0 4px 0 32px;
}
go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

 /* .active-item {
   display: block;
   
 } */
.element {
  display:none;
}

.Test{
  cursor: pointer;
  box-shadow: inset;
} 
.Test:hover{
  /* transform:scale(1.01) ; */
  transform: scale(1.01);
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}


.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
